<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .col-example {
        padding: 1rem;
        background-color: rgb(37,58,73);
        border: 2px solid transparent;
        color: white;
        text-align: center;
    }

    .buttonStyle {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }

    .inputStyle {
        border-radius: 8px;
        padding: 10px;
        text-decoration-color: black;
    }
</style>
<div class="col-example">
    <div class="border border-light p-3 mb-4">
        <div class="d-flex align-items-center justify-content-center">
            <div class="p-2 bd-highlight col-example"></div>
            <div class="p-2 bd-highlight col-example">
                <input type="search" class="inputStyle" placeholder="İl,İlçe,Mahalle" /><button class="buttonStyle" type="button">Search</button>
            </div>
            <div class="p-2 bd-highlight col-example"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h6><a href="../Home/ListHouse">Satılık</a></h6>
        </div>
        <div class="col-sm-2">
            <h6><a href="Home/ListHouse">Kiralık</a></h6>
        </div>
        <div class="col-sm-2">
            <h6><a href="Home/ListHouse">Günlük Kiralık</a></h6>
        </div>
        <div class="col-sm-2">
            <h6><a href="Home/ListHouse">Projeler</a></h6>
        </div>
        <div class="col-sm-2">
            <h6><a href="Home/ListHouse">Siteler</a></h6>
        </div>
        <div class="col-sm-2">
            <h6><a href="Home/ListHouse">Danışmanlık</a></h6>
        </div>
    </div>
    <hr />
</div>